body {
  font-family: Arial, Helvetica, sans-serif;;
}
#gameHeader{
  width: auto;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
h1{
  background: orange;
  padding: 10px 2px;
  color: white;
  text-align: center;
  font-size: 40px;
}

#instructions{
  width: auto;
  height: 270px;
  color: green;
  background:beige;
  font-size: 25px;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.5;
  }
#randomNumberText{
  margin-left: 650px;
  width: 150px;
  padding: 10px 5px;
  font-size: 20px;
  background: cornflowerblue;
  text-align: center;
}
#randomNumberDisplayed1{
  margin-left: 650px;
  width: 150px;
  padding: 10px 5px;
  font-size: 40px;
  text-align: center;
  background: cornflowerblue;
}
.gemImageClass{
  width: 100px;
  height: 100px;
  border: 5px solid black;
  margin-left: 10px;
  
  }
#gems{
  margin-left: 500px;
  margin-top: 3px;
  }
#totalScore {
  margin-left: 650px;
  width: 150px;
  padding: 10px 5px;
  font-size: 20px;
  background: cornflowerblue;
  text-align: center;
  }
#scoreTotal  {
  margin-left: 650px;
  width: 150px;
  padding: 10px 5px;
  font-size: 20px;
  background: cornflowerblue;
  text-align: center;
  }
#winsText{
  margin-left: 650px;
  width: 150px;
  padding: 10px 5px;
  font-size: 20px;
  background: cornflowerblue;
  text-align: center;
  }
#wins{
  margin-left: 650px;
  width: 150px;
  padding: 10px 5px;
  font-size: 20px;
  background: cornflowerblue;
  text-align: center;
  }
#lossesText{
  margin-left: 650px;
  width: 150px;
  padding: 10px 5px;
  font-size: 20px;
  background: cornflowerblue;
  text-align: center;
  }
#losses{
  margin-left: 650px;
  width: 150px;
  padding: 10px 5px;
  font-size: 20px;
  background: cornflowerblue;
  text-align: center;
  }
.resetButton {
    width: 150px;
    height: 42px;
    margin-left: 650px;
  }


